body{
    max-width: 1300px;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

header{
    margin: 10px 10px 0 10px;
}

.logo img{
    max-width: 100%;
}

.logo{
    width: 150px;
}

.Ancres{
    padding-left: 0;
    display: flex;
    margin: 0 0 0 40%;
}

.Ancres li{
    list-style: none;
    padding-left: 30%;
}

.Ancres a, .Inscrire a{
    text-decoration: none;
    color:#0065FC;
}

.Ancres a:hover{
    border-top: solid 1px #0065FC;
    padding-top: 25px;
}

.Ancres a:active{
    color: black;
}

.Inscrire a{
    font-weight: bold;
}

.Menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Introduction .titre{
    font-size: 1.3em;
}

.Box{
    display: flex;
    margin-top: 2%;
}

.Box .iconecache{
    display: none;
}

.Box input[type="text"]{
    border: #F2F2F2 solid 1px;
    width: 180px;
}

.Box .localisation{
    border: solid 1px #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 0.5em;
    background-color: #F2F2F2;
}

.Box input[type="submit"]{
    border-radius: 0 10px 10px 0;
    color: white;
    background-color: #0065FC;
}