body{
    max-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

header{
    margin: 1.5em;
    display: flex;
    flex-direction: column;
}

.logo img{
    width: 100%;
}

.logo{
    width: 150px;
}

.Ancres{
    display:flex;
    padding: 0;
    margin-left: 40%;
}

.Ancres li{
    list-style: none;
    padding: 0 20%;
}

.Ancres a, .Inscrire a{
    text-decoration: none;
    color:#0065FC;
}

.Ancres a:hover{
    border-top: solid 1px #0065FC;
    padding-top: 2em;
}

.Ancres a:visited{
    color: black;
}

.Inscrire a{
    font-weight: bold;
}

.Menu{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.Introduction .titre{
    font-size: 1.3em;
}

form{
    margin-top: 2em;
}

.Box{
    display: flex;
}

.Box .iconecache{
    display: none;
}

.Box input[type="text"]{
    border: #F2F2F2 solid 1px;
    width: 180px;
}

.Box .localisation{
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 0.8em;
}

.Box input[type="submit"]{
    border: none;
    border-radius: 0 10px 10px 0;
    color: white;
    background-color: #0065FC;
}

.Filtres{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 2em 1.5em 0 1.5em;
}

.Filtres li{
    list-style: none;
    margin-right: 5%;
}

.Filtres a{
    text-decoration: none;
    color: black;
}

.Filtres li:not(.filtres){
    border: #F2F2F2 solid 1px;
    border-radius: 15px;
    padding-right: 1.5em;
    border-left: none;
    font-weight: bold;
}

.Filtres .filtres{
    font-weight: bold;
}

.Filtres i{
    padding: 0.4em;
    border: solid 1px #F2F2F2;
    border-radius: 15px;
    margin-right: 0.8em;
    color: #0065FC;
    background-color: #DEEBFF;
}

.Filtres li:not(.filtres):hover{
    padding-right: 2em;
    border: solid #0065FC 1px;
}

.Information{
    display: flex;
    margin: 2em 1.5em 0 1.5em;
    align-items: center;
}

.Information i{
    margin-right: 5px;
    border: solid #F2F2F2 2px;
    background-color: #0065FC;
    color: white;
    border-radius: 1em;
}

.Hebergements{
    display: flex;
    flex-direction: column;
    border-radius: 0.8em;
    background-color: #F2F2F2;
    padding-left: 1.5em;
}

.Contenu1{
    display: flex;
    flex-wrap: wrap;
}

.Contenu1 article{
    width: 230px;
    padding: 0.3em;
    border-radius: 0.7em;
    background-color: white; 
    margin: 1.5em 1.5em 0 0;
    display: flex;
    flex-direction: column;
}

.Contenu1 img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 0.7em 0.7em 0 0;
}

.Hebergements h2{
    font-size: 1.2em;
    margin: 0;
    padding-top: 1.5em;
}

.Hebergements .afficher{
    font-weight: bold;
    padding-top: 1.5em;
}

.Contenu1 .description{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.description h3{
    font-size: 0.9em;
    margin-bottom: 0;
}

.description p{
    font-size: 0.9em;
    margin: 0;
    line-height: 1.5em;
}

/* Ne pas oublier de mettre en couleur bleu les icones*/
/* Ps: un en ##0065FC et deux en #F2F2F2*/

.un{
    color: #0065FC;
}

.deux{
    color: #F2F2F2;
}

.Populaires{
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    background-color: #F2F2F2;
    border-radius: 0.8em;
    padding: 0 1.5em;
}

.Populaires .Titre{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Populaires h2{
    margin: 0;
    font-size: 1.2em;
    padding-top: 1.5em;
}

.Contenu2{
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

.Contenu2 article{
    display: flex;
    width: 330px;
    height: 130px;
    margin-bottom: 1.5em;
    padding: 0.3em;
    border-radius: 0.7em;
    background-color: white;
}

.Contenu2 img{
    width: 130px;
    height: 100%;
    object-fit: cover;
    border-radius: 0.7em 0 0 0.7em;
}

figure{
    margin: 0;
}

.MainContent{
    display: flex;
    margin: 1.5em 1.5em 0 1.5em;
}

.Contenu2 .description2{
    display: flex;
    flex-direction: column;
    margin: 0 1.5em;
}

.description2 h3{
    font-size: 0.9em;
    margin-bottom: 0;
}

.description2 i{
    margin-top: 2.5em;
}

.description2 p{
    font-size: 0.9em;
    margin: 0;
}

.Activités{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.Activités h2{
    margin-left: 1.5em;
    font-size: 1.2em;
}

.Contenu3{
    margin: 1.5em 1.5em 0 1.5em;
    display: flex;
}

.Contenu3 article{
    border: solid #F2F2F2 2px;
    border-radius: 0.9em;
    width: 300px;
    display: flex;
    margin-left: 1.5em;
    flex-direction: column;
}

.Contenu3 img{
    border-radius: 0.8em 0.8em 0 0;
    width: 100%;
    object-fit: cover;
}

.Contenu3 .Port img{
    height: 320px;
}

.Contenu3 .Port{
    margin-left: 0;
}
.Contenu3 .Pomègues img{
    height: 160px;
}

.Contenu3 .Frioul img{
    height: 90px;
}

.Contenu3 .Calanques img{
    height: 320px;
}

.Contenu3 .NotreDame img{
    height: 110px;
}

.Contenu3 .Longchamp img{
    height: 140px;
}

.Contenu3 .Frioul{
    margin-top: 1.5em;
}

.Contenu3 .Longchamp{
    margin-top: 1.5em;
}

.Contenu3 h3{
    margin: 0;
    font-size: 0.9em;
    padding: 10px 0 10px 10px;
}

footer{
    margin-top: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F2F2F2;
    padding: 1.5em;
}

footer li{
    list-style: none;
    line-height: 1.5em;
    font-size: 0.9em;
}

footer ul{
    padding: 0;
    margin: 0;
}

footer div{
    display: flex;
    flex-direction: column;
}

footer .hebergements, .Propos{
    margin-right: 15em;
}

footer p{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

@media only screen and (min-width: 600px){
    .Contenu1{
        justify-content: center;
    }

    .Hebergements{
        align-items: center;
    }

    .MainContent{
        flex-direction: column;
        margin: 0;
    }

    .Populaires{
        margin: 1em 0 0 0; 
    }

    .Contenu2{
        align-items: center;
    }

    .Activités{
        margin-top: 1em;
        align-items: center;
    }

    .Contenu3{
        flex-wrap: wrap;
        justify-content: center;
    }

    .Contenu3 .Pomègues{
        margin: 1.5em 0 0 0;
    }

    .Contenu3 .Longchamp{
        margin-left: 0;
    }

    .Contenu3 .Frioul{
        margin: 1.5em 0 0 0;
    }

    .Contenu3 .NotreDame{
        margin: 1.5em 0 0 0;
    }

    .Contenu3 .Calanques{
        margin: 1.5em 0 0 0;
    }

    .filtres{
        align-self: center;
        margin-bottom: 1em;
    }

    .Filtres{
        flex-wrap: wrap;
    }

    .Filtres li:not(.filtres){
        margin-bottom: 1em;
    }

    footer{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer .hebergements, .Propos{
        margin: 0;
    }

    .Introduction{
        margin-bottom: 1em;
    }

    .Box{
        margin-top: 0;
        margin-bottom: 0;
    }

    form{
        margin-top: 0;
    }

    .Information{
        margin-top: 1em;
    }

    .Menu{
        flex-wrap: wrap;
        align-items: center;
    }

    .Ancres{
        justify-content: space-around;
        width: 100%;
        order: 3;
        margin: 0;
    }
}

@media only screen and (min-width: 768px){
    .Contenu2{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .Activités{
        align-items: center;
    }

    .Contenu3{
        justify-content: center;
    }

    .Contenu3 .Calanques{
        margin: 1.5em 1.5em 0 0;
    }

    .Contenu3 .Port{
        margin-right: 1.5em;
    }

    .Contenu3 .Pomègues{
        margin-top: 0;
    }
}

@media only screen and (min-width: 992px){
    .Contenu3{
        flex-direction: row;
        justify-content: center;
    }

    .Contenu3 .NotreDame, .Contenu3 .Longchamp{
        margin-left: 0;
    }

    .Filtres li:not(.filtres){
        margin-top: 0;
        margin-bottom: 0.5em;
    }
}

@media only screen and (max-width: 600px){
    header{
        margin: 0;
    }
    .Menu{
        flex-wrap: wrap;
    }

    .logo{
        margin-left: 1em;
    }

    .Inscrire{
        margin-right: 1em;
    }

    .Ancres a:hover{
        border-top: none;
    }

    .Ancres{
        margin: 0;
        flex-basis: 100%;
        justify-content: space-around;
        order: 3;
    }

    .Ancres li{
        padding: 0;
    }
   
    .Ancres:hover{
        border-bottom: solid 1px #0065FC;
    }

    .Introduction{
        margin: 1em 1em 0 1em;
    }

    .Introduction .titre{
        margin: 0 0 0.2em 0;
    }

    .Introduction p{
        font-size: 0.9em;
        margin: 0;
    }

    form{
        margin-top: 1em;
    }

    .Box{
        border: solid #F2F2F2 1px;
        border-radius: 0.8em;
        margin: 0 1em;
    }

    .Box .localisation{
        padding: 0.7em;
    }

    .Box .iconecache{
        display: flex;
        padding: 0.7em;
        border-radius: 0.8em;
        background-color: #0065FC;
        color: white;
    }

    .Box input[type="text"]{
        border: none;
        width: 100%;
    }

    .Box input[type="submit"]{
        display: none;
    }

    .Filtres{
        margin: 1em 1em 0 1em;
        flex-wrap: wrap;
    }

    .Filtres li:not(.filtres){
        margin: 0 0.5em 0.5em 0;
        font-size: 0.9em;
    }

    .filtres{
        width: 100%;
        margin-bottom: 1em;
    }

    .Information{
        margin: 1em;
        align-items: flex-start;
    }

    .Information P{
        margin: 0;
        font-size: 0.8em;
    }

    .MainContent{
        flex-direction: column;
        margin: 0;
    }

    .Populaires{
        order: 1;
        border-radius: 0;
        padding: 0 1em 1em 1em;
        margin: 0;
    }

    .Contenu2 article{
        width: auto;
        margin-bottom: 0.5em;
    }

    .Contenu2 .description2{
        margin: 0 0 0 0.5em;
    }

    .Hebergements h2{
        margin-bottom: 1.5em;
    }

    .Hebergements{
        margin: 0.5em 0 0 0;
        padding: 0 1em;
        order: 2;
        background-color: white;
    }

    .Hebergements .afficher{
        padding-top: 1em;
    }

    .Contenu1 article{
        margin: 0 0 0.5em 0;
        width: 100%;
        border: solid #F2F2F2 1px;
    }

    .Contenu1 .description{
        margin-left: 0.5em;
    }

    .Contenu3{
        margin: 0;
        flex-direction: column;
    }

    .Activités h2{
        margin: 1.5em 0 1.5em 0;
    }

    .Contenu3 article{
        width: auto;
        margin: 0 0 0.5em 0;
    }

    .Contenu3 .Frioul, .Contenu3 .Longchamp{
        margin-top: 0;
    }

    .Activités{
        margin: 0.5em 0 0 0;
        padding: 0 1em;
    }

    .Contenu3 .Port img{
        height: 120px;
    }

    .Contenu3 .Frioul img{
        height: 120px;
    }

    .Contenu3 .NotreDame img{
        height: 120px;
    }

    .Contenu3 .Calanques img{
        height: 120px;
    }

    .Contenu3 .Pomègues img{
        height: 120px;
    }

    .Contenu3 .Longchamp img{
        height: 120px;
    }

    footer{
        flex-direction: column;
        align-items: flex-start;
    }

    footer .hebergements, .Propos{
        margin: 0;
    }
}





   


    

   

    

    



 
  


   

 
   

    

  

 

    

  
   

   


   

  




   

    

 

    






  

